$color-primary: #71ca8f;
$color-primary-light: #eba082;
$color-primary-dark: #c25e0c;

$color-light: rgb(218, 53, 240);
$color-light-1: rgb(48, 109, 240);


//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;