.section-how__wrapper-line {
    width: 10%;
    margin-left: 12rem;
    border-color: rgb(250, 82, 213);

}

.section-agents__header-line{
    width: 10%;
    margin-left: 75rem;
    border-color: rgb(250, 82, 213);
}

.section-properties__header-line{
    margin-top: 2rem;
    width: 10%;
    margin-left: 73rem;
    border-color: rgb(250, 82, 213);
}