.section-header{
    height: 100vh;
    display: flex;
    align-items: center;
    

}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    
}

@media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }